---
import Layout from "../layouts/Layout.astro";
import ConnectFreighter from '../components/ConnectFreighter.astro';
import solarTrade from "../contracts/solar_trade";

const { result } = await solarTrade.get_trades();
if (result.isErr()) {
	console.log("No Trade Exist")
}




---

<script is:inline>var global = global || window;</script>
<Layout >
	<main>
		
		<h1>Solar Energy</h1>
		<ConnectFreighter />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
